{% if get_current_interface() == 'central' and config('allow_search_global') %}
<form action="{{ path('front/search.php') }}" role="search" method="get" data-submit-once>
   <div class="input-group input-group-flat">
      <input type="text" class="form-control" name="globalsearch" placeholder="{{ __('Search…') }}" />
      <span class="input-group-text">
         <button type="submit" class="btn btn-link p-0 m-0" title="{{ __('Search…') }}">
            <span class="ti ti-search" aria-hidden="true"></span>
         </button>
      </span>
   </div>
</form>
{% endif %}
